---
http_interactions:
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"b0e8403a-9ffb-40cc-8e59-1216189fce9c\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":420,\r\n  \"scope\":\"pix.write
        pix.read\"\r\n}"
  recorded_at: Mon, 20 Jun 2022 09:34:06 GMT
- request:
    method: get
    uri: https://apihmz.bancobonsucesso.com.br/pix/direto/forintegration/v1/pagamentos/chave/solicitacoes/cc37c3fc-6af7-4685-9867-1bb6dcbdbbd6
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"solicitacaoId":"cc37c3fc-6af7-4685-9867-1bb6dcbdbbd6","pagamentoId":"ec76a73c-d9c4-441d-ae05-2ed4ef5cb8d5","endToEndId":"E710278662022062009283701617377P","status":"Confirmado","agencia":"1","numero":"3135772","chave":{"valor":"74824232000109","tipo":"CNPJ"},"valor":10.00,"campoLivre":null,"rejeitadoDescricao":null,"erroDescricao":null}'
  recorded_at: Mon, 20 Jun 2022 09:34:07 GMT
recorded_with: VCR 6.0.0
