/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/

# rspec failure tracking
.rspec_status

*.gem

.env.test
.env.*.local

/.idea/
*.swp
*.swo
.byebug_history
.vscode

/refresh_token.txt
