---
http_interactions:
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"6df3f81d-78f3-408d-8736-0481d9293633\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":420,\r\n  \"scope\":\"pix.write
        pix.read\"\r\n}"
  recorded_at: Sun, 19 Jun 2022 13:43:52 GMT
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/pix/direto/forintegration/v1/pagamentos/chave/solicitacoes
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization: "<FILTERED>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"identificador":"Rquest (cnpj)","solicitacaoId":"97c0d9f9-0cad-4387-97d7-324b8fc07deb","chave":{"valor":"74824232000109","tipo":"CNPJ"},"valor":10.0,"erros":null}]'
  recorded_at: Sun, 19 Jun 2022 13:43:54 GMT
recorded_with: VCR 6.0.0
