---
http_interactions:
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"e305cc7b-875c-4c77-8dd6-60f49673084a\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":420,\r\n  \"scope\":\"pix.write
        pix.read\"\r\n}"
  recorded_at: Mon, 20 Jun 2022 09:28:16 GMT
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/pix/direto/forintegration/v1/pagamentos/chave/solicitacoes
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization: "<FILTERED>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"identificador":"Rquest (cnpj)","solicitacaoId":"cc37c3fc-6af7-4685-9867-1bb6dcbdbbd6","chave":{"valor":"74824232000109","tipo":"CNPJ"},"valor":10.0,"erros":null}]'
  recorded_at: Mon, 20 Jun 2022 09:28:18 GMT
recorded_with: VCR 6.0.0
