---
http_interactions:
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=pix.write%20pix.read
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oneagent-Js-Injection:
      - 'true'
      Content-Type:
      - application/json;charset=UTF-8
      Reffer-Policy:
      - no-reffer; strict-origin-when-cross-origin
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"dcda04d5-a4ca-4d99-b496-640c3d039c6a\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":420,\r\n  \"scope\":\"pix.write
        pix.read\"\r\n}"
  recorded_at: Wed, 16 Jun 2021 14:09:36 GMT
recorded_with: VCR 6.0.0
