---
http_interactions:
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oneagent-Js-Injection:
      - 'true'
      Content-Type:
      - application/json;charset=UTF-8
      Reffer-Policy:
      - no-reffer; strict-origin-when-cross-origin
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"18d4b3ef-102b-439f-a12d-790dd9bdd293\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":420,\r\n  \"scope\":\"pix.write
        pix.read\"\r\n}"
  recorded_at: Wed, 16 Jun 2021 18:45:25 GMT
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/pix/direto/forintegration/v1/pagamentos/chave
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization: "<FILTERED>"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Oneagent-Js-Injection:
      - 'true'
      Content-Type:
      - application/json;charset=utf-8
      Reffer-Policy:
      - no-reffer; strict-origin-when-cross-origin
    body:
      encoding: ASCII-8BIT
      string: '{"pagamentoId":"2fded89a-6b7b-4536-9a50-9cfe45963791","endToEndId":"E710278662021061618452650099655P","recebedor":{"ispb":"71027866","conta":{"banco":"218","bancoNome":"BCO
        BS2 S.A.","agencia":"0001","numero":"3134806","tipo":"ContaCorrente"},"pessoa":{"documento":"25215188000116","tipoDocumento":"CNPJ","nome":"Teste
        Automatizado","nomeFantasia":null}},"pagador":{"ispb":"71027866","conta":{"banco":"218","bancoNome":"BCO
        BS2 S.A.","agencia":"0001","numero":"3135772","tipo":"ContaCorrente"},"pessoa":{"documento":"25215188000116","tipoDocumento":"CNPJ","nome":"Teste Automatizado","nomeFantasia":null}}}'
  recorded_at: Wed, 16 Jun 2021 18:45:26 GMT
[...]
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/pix/direto/forintegration/v1/pagamentos/2fded89a-6b7b-4536-9a50-9cfe45963791/confirmacao
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization: "<FILTERED>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Oneagent-Js-Injection:
      - 'true'
      Reffer-Policy:
      - no-reffer; strict-origin-when-cross-origin
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 16 Jun 2021 18:45:30 GMT
recorded_with: VCR 6.0.0
