---
http_interactions:
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oneagent-Js-Injection:
      - 'true'
      Content-Type:
      - application/json;charset=UTF-8
      Reffer-Policy:
      - no-reffer; strict-origin-when-cross-origin
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"73a026ff-8bb2-40cc-9058-eaaa1033489d\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":420,\r\n  \"scope\":\"pix.write
        pix.read\"\r\n}"
  recorded_at: Thu, 24 Jun 2021 21:53:48 GMT
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/pix/direto/forintegration/v1/pagamentos/chave
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oneagent-Js-Injection:
      - 'true'
      Content-Type:
      - application/json;charset=utf-8
      Reffer-Policy:
      - no-reffer; strict-origin-when-cross-origin
    body:
      encoding: UTF-8
      string: '{"pagamentoId":"9142caba-9470-4b98-97c2-894dec1823f3","endToEndId":"E710278662021062421534911864483P","recebedor":{"ispb":"71027866","conta":{"banco":"218","bancoNome":"BCO
        BS2 S.A.","agencia":"0001","numero":"3134806","tipo":"ContaCorrente"},"pessoa":{"documento":"25215188000116","tipoDocumento":"CNPJ","nome":"Teste
        Automatizado","nomeFantasia":null}},"pagador":{"ispb":"71027866","conta":{"banco":"218","bancoNome":"BCO
        BS2 S.A.","agencia":"0001","numero":"3134806","tipo":"ContaCorrente"},"pessoa":{"documento":"25215188000116","tipoDocumento":"CNPJ","nome":"Teste
        Automatizado","nomeFantasia":null}}}'
  recorded_at: Thu, 24 Jun 2021 21:53:49 GMT
[...]
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/pix/direto/forintegration/v1/pagamentos/9142caba-9470-4b98-97c2-894dec1823f3/confirmacao
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/json
      Authorization: "<FILTERED>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Oneagent-Js-Injection:
      - 'true'
      Reffer-Policy:
      - no-reffer; strict-origin-when-cross-origin
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 24 Jun 2021 21:53:53 GMT
recorded_with: VCR 6.0.0
