---
http_interactions:
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"32a13959-b120-4994-9152-face88523584\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":420,\r\n  \"scope\":\"pix.write
        pix.read\"\r\n}"
  recorded_at: Sun, 19 Jun 2022 13:44:09 GMT
- request:
    method: get
    uri: https://apihmz.bancobonsucesso.com.br/pix/direto/forintegration/v1/pagamentos/chave/solicitacoes/97c0d9f9-0cad-4387-97d7-324b8fc07deb
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"solicitacaoId":"97c0d9f9-0cad-4387-97d7-324b8fc07deb","pagamentoId":"2e3612d6-df03-45c6-95da-379c80c50dda","endToEndId":"E710278662022061913440120309564P","status":"Confirmado","agencia":"1","numero":"3135772","chave":{"valor":"74824232000109","tipo":"CNPJ"},"valor":10.00,"campoLivre":null,"rejeitadoDescricao":null,"erroDescricao":null}'
  recorded_at: Sun, 19 Jun 2022 13:44:12 GMT
recorded_with: VCR 6.0.0
