---
http_interactions:
- request:
    method: post
    uri: https://apihmz.bancobonsucesso.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"eed5fc53-da9b-4e20-bcae-0b3cfded8822\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":420,\r\n  \"scope\":\"pix.write
        pix.read\"\r\n}"
  recorded_at: Sun, 19 Jun 2022 11:36:00 GMT
- request:
    method: get
    uri: https://apihmz.bancobonsucesso.com.br/pix/direto/forintegration/v1/pagamentos/chave/solicitacoes/9b90c7e4-3fb0-45fe-a4b0-0476544a8678
    body:
      encoding: UTF-8
      string: "<FILTERED>"
    headers:
      Authorization: "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"solicitacaoId":"9b90c7e4-3fb0-45fe-a4b0-0476544a8678","pagamentoId":null,"endToEndId":null,"status":"Realizado","agencia":"1","numero":"3135772","chave":{"valor":"74824232000109","tipo":"CNPJ"},"valor":10.00,"campoLivre":null,"rejeitadoDescricao":null,"erroDescricao":null}'
  recorded_at: Sun, 19 Jun 2022 11:36:02 GMT
recorded_with: VCR 6.0.0
